h1{
 border-radius: 4px;
    cursor: pointer;
    padding: 20px;
    font-weight: 300;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
    padding: 10px;
    background-color: ;
}